*{
    box-sizing: border-box;
    color: #2e3036;
    text-decoration: none;
}

body{
    font-family: 'montserrat-medium', sans-serif;
    color: #2e3036;
}

@import './layout';

@import './colors';

@import './typography';

@import './animations';

@import './components/badge';

@import './components/logo';

@import './components/navigation';