.tachado{
    text-decoration:line-through;
    color: gray;
}

.animation-1{
    transition: all ease 1s;
}

.animation-1:hover{
    transform: scale(0.9) rotate(2deg);
}

.animation-2 #homewares{
    transition: all ease 0.5s;
}

.animation-2:hover #homewares{
    transform: scale(0.96) rotate(-.7deg);
}