@font-face{
    src: url('../assets/fonts/Montserrat-Medium.ttf');
    font-family: 'montserrat-medium';
}

*{
    box-sizing: border-box;
    color: #2e3036;
    text-decoration: none;
}

body{
    font-family: 'montserrat-medium', sans-serif;
    color: #2e3036;
}

