.h2{
    font-family: serif;
    color: white;
    font-size: 50px;
    margin: 25px;
    padding: 0px;
}


.p{
    font-family: sans-serif;
    color:white;
    font-size: 20px;
    margin:25px;
    
}

.read{
    color: #f598a4;
    margin: 25px;
    font-weight: bold;
    margin-top: 75px;
}